<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>
    <!-- header-------------------------------->
    <header class="header-main">
        <div class="container-main">
            <div class="d-block">
                <section class="h-main-row">
                    <div class="col-lg-9 col-md-12 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row text-right">
                                    <a href="#">
                                        <img src="~/assets/images/logo.png" alt="دیجی اسمارت">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 pr">
                                <div class="header-search row text-right">
                                    <div class="header-search-box">
                                        <form asp-action="Index" asp-controller="Products" method="get" class="form-search">
                                            <input type="search" class="header-search-input" name="SearchKey"
                                                   placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                            <div class="action-btns">
                                                <button class="btn btn-search" type="submit">
                                                    <img src="~/assets/images/search.png" alt="search">
                                                </button>

                                                @await Component.InvokeAsync("SearchCategories")
                                               
                                            </div>
                                        </form>
                                        @* <div class="search-result">
                                            
                                            <ul class="search-result-list mb-0">
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        کالای دیجیتال
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        آرایشی و بهداشتی
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        گوشی موبایل
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        تبلت
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        لپ تاپ
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="mdi mdi-clock-outline"></i>
                                                        دوربین
                                                        <button class="btn btn-light btn-continue-search" type="submit">
                                                            <i class="fa fa-angle-left"></i>
                                                        </button>
                                                    </a>
                                                </li>
                                            </ul
                                            <div class="localSearchSimple"></div>>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-0 col-xs-12 pl">
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        @if(User.Identity.IsAuthenticated)
                                        {
                                            <div class="nav-account d-block pl">
                                                <span class="icon-account">
                                                    <img src="~/assets/images/man.png" class="avator">
                                                </span>
                                                <span class="title-account">@User.Identity.Name</span>
                                                <div class="dropdown-menu">
                                                    <ul class="account-uls mb-0">
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">پنل کاربری</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">سفارشات من</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">تنظیمات</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="/Authentication/Logout" class="account-link">خروج</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="nav-account d-block pl">
                                                <a href="~/authentication/register">
                                                    <span class="title-account">ثبت نام</span>
                                                </a>

                                                <a href="~/authentication/Login">
                                                    <span class="title-account">ورود</span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Invoke Menu -->
                @await Component.InvokeAsync("GetMenu")
                <!--    responsive-megamenu-mobile----------------->
                @await Component.InvokeAsync("SmallGetMenu")
                <div class="nav-btn nav-slider">
                    <span class="linee1"></span>
                    <span class="linee2"></span>
                    <span class="linee3"></span>
                </div>
                <div class="overlay"></div>
                <!-- bottom-menu-joomy -->
                <div class="bottom-menu-joomy">
                    <ul class="mb-0">
                        <li>
                            <a href="/Home/Index">
                                <i class="fa fa-home"></i>
                                صفحه اصلی
                            </a>
                        </li>
                        @*<li>
                            <a href="#">
                                <div class="nav-btn nav-slider">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                                دسته بندی ها
                            </a>
                        </li>*@
                        <li>
                            <a href="cart.html">
                                <i class="fa fa-shopping-cart"></i>
                                سبد خرید
                                <div class="shopping-bag-item">2</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fa fa-search"></i>
                                جستجو
                            </a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/authentication/login">
                                    <i class="fa fa-user"></i>
                                    ورود یا ثبت نام
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="">
                                    <i class="fa fa-user"></i>
                                    حساب کاربری
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <!--    responsive-megamenu-mobile----------------->
            </div>
        </div>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">جستجو</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="header-search text-right">
                        <div class="header-search-box">
                            <form asp-action="index" asp-controller="Products" method="get" class="form-search">
                                <input type="search" class="header-search-input" name="SearchKey"
                                       placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                <div class="action-btns">
                                    <button class="btn btn-search" type="submit">
                                        <img src="~/assets/images/search.png" alt="search">
                                    </button>
                                    @await Component.InvokeAsync("SearchCategories")
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>
    <!-- header-------------------------------->
    <!-- 404----------------------------------->
    <div class="container-main">
        @RenderBody()
    </div>
    <!-- 404----------------------------------->
    <!-- footer-------------------------------->
    <footer class="footer-main-site">
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="footer-shopping-features">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="~/assets/images/footer/features/delivery-truck.svg" width="50"
                                     alt="تحویل اکسپرس" class="img-shopping">
                            </span>
                            <span class="title-shopping">تحویل اکسپرس</span>
                            <span class="desc-shopping">در کمترین زمان دریافت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="~/assets/images/footer/features/24-hours-support.svg" width="50"
                                     alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                            </span>
                            <span class="title-shopping">پشتیبانی ۲۴ ساعته</span>
                            <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="~/assets/images/footer/features/income.svg" width="50" alt="پرداخت در محل"
                                     class="img-shopping">
                            </span>
                            <span class="title-shopping">پرداخت در محل</span>
                            <span class="desc-shopping">هنگام دریافت پرداخت کنید</span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="~/assets/images/footer/features/easy-return.svg" width="50"
                                     alt="۷ روز ضمانت بازگشت" class="img-shopping">
                            </span>
                            <span class="title-shopping">۷ روز ضمانت بازگشت</span>
                            <span class="desc-shopping">هفت روز مهلت دارید </span>
                        </div>
                        <div class="item">
                            <span class="icon-shopping">
                                <img src="~/assets/images/footer/features/original.svg" width="50"
                                     alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                            </span>
                            <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                            <span class="desc-shopping">تایید اصالت کالا</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="footer-middlebar">
                        <div class="col-lg-8 d-block pr">
                            <div class="footer-links">
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    با دیجی اسمارت
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        اتاق خبر دیجی اسمارت
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        فروش در دیجی اسمارت
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        همکاری با سازمان‌ها
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        فرصت‌های شغلی
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    خدمات مشتریان
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        پاسخ به پرسش‌های متداول
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        رویه‌های بازگرداندن کالا
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شرایط استفاده
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        حریم خصوصی
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                    <div class="row">
                                        <section class="footer-links-col">
                                            <div class="headline-links">
                                                <a href="#">
                                                    راهنمای خرید از دیجی اسمارت
                                                </a>
                                            </div>
                                            <ul class="footer-menu-ul">
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        نحوه ثبت سفارش
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        رویه ارسال سفارش
                                                    </a>
                                                </li>
                                                <li class="menu-item-type-custom">
                                                    <a href="#">
                                                        شیوه‌های پرداخت
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-block pl">
                            <div class="shortcode-widget-area">
                                <form action="#" class="form-newsletter">
                                    <fieldset>
                                        <span class="form-newsletter-title">
                                            با عضویت در خبرنامه از آخرین اخبار و
                                            محصولات سایت مطلع شوید...
                                        </span>
                                        <div class="input-group-newsletter">
                                            <input type="email" class="input-field form-control"
                                                   placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button class="btn btn-info btn-secondary" type="submit">ارسال</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="footer-more-info">
                            <div class="col-lg-10 pr">
                                <div class="footer-content d-block">
                                    <div class="text pr-1">
                                        <h2 class="title">فروشگاه اینترنتی دیجی اسمارت</h2>
                                        <p class="desc">
                                            دیجی اسمارت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با
                                            بیش از یک دهه تجربه، با پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت
                                            بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های معتبر
                                            جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به دیجی
                                            اسمارت با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به
                                            ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 pl">
                                <div class="footer-safety-partner">
                                    <div class="widget widget-product card mb-0">
                                        <div class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage"
                                                     style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                                    <div class="owl-item active"
                                                         style="width: 300.75px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="#" class="d-block hover-img-link">
                                                                <img src="~/assets/images/footer/license/L-1.png"
                                                                     class="img-fluid img-brand" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active"
                                                         style="width: 300.75px; margin-left: 10px;">
                                                        <div class="item">
                                                            <a href="#" class="d-block hover-img-link mt-0">
                                                                <img src="~/assets/images/footer/license/L-2.png"
                                                                     class="img-fluid img-brand" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="footer-copyright-text">
                                    <p>تمامی مطالب، عکس ها و... متعلق به سایت فروشگاهی دیجی اسمارت می باشد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->
    <!-- Page Loader----------------------------->
    <div class="P-loader">
        <div class="P-loader-content">
            <div class="logo-loader">
                <img src="~/assets/images/logo.png" alt="logo">
            </div>
            <div class="pic-loader text-center">
                <img src="~/assets/images/three-dots.svg" width="50" alt="">
            </div>
        </div>
    </div>
    <!-- Page Loader----------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
<script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="~/assets/js/vendor/wNumb.js"></script>
<script src="~/assets/js/vendor/nouislider.min.js"></script>
<script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/assets/js/main.js"></script>
@RenderSection("Script",false)

</html>