@using Application.Categories.GetCategoriesService;
@model SelectList
@{
    Layout = null;
}

<div class="search-filter">
    <div class="form-ui">
        <div class="custom-select-ui">
            <select asp-items=@Model class="right" name="CategoryId">
                <option value="">همه دسته ها</option>
            </select>
        </div>
    </div>
</div>
