@using UI.Areas.Admin.Models;
@model UserRolesViewComponentDto;

<h3 class="page-title">@Model.UserName</h3>

<!-- begin::breadcrumb -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		@foreach (var item in Model.Roles)
		{
			<li class="breadcrumb-item">@item</li>
		}
	</ol>
</nav>